.error-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 60px;
}

.error-title {
  font-size: 18px;
  font-weight: 700;
}

.error-desc {
  font-size: 16px;
  color: var(--black-60);
  text-align: center;
}

.button {
  width: 150px;
  height: 48px;
}

@media (max-width: 767px) {
  .error-desc br {
    display: none;
  }
}
