.members {
  position: relative;
  display: flex;
  padding: 0 24px 0 40px;
}

.members:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--black-30);
  width: 1px;
  height: 38px;
}

.member {
  color: #fff;
  font-size: 14px;
}
