.button-wrapper {
  width: 320px;
  height: 62px;
  margin-top: 40px;
}

.button-wrapper button {
  font-size: 18px;
  height: 100%;
}

@media (max-width: 767px) {
  .button-wrapper {
    width: 100%;
  }
}
