.modal-root {
  padding: 32px 28px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border-radius: 8px;
  max-height: 95vh;
  overflow-y: scroll;
}

.error-message {
  font-size: 14px;
  color: var(--red);
  margin-top: 8px;
}

.modal-contents {
  position: relative;
}

.small {
  width: 540px;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--black-80);
}

.button-layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 12px;
  margin-top: 28px;
}

.description {
  margin: 20px 0;
  line-height: 1.5;
}

.close {
  position: relative;
  width: 32px;
  height: 32px;
}

.utils {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 0 24px;
  right: 0;
  top: 0;
}

.delete-button {
  font-size: 14px;
  color: var(--black-50);
  text-decoration: underline;
  position: absolute;
  left: 28px;
  bottom: 32px;
}
