.dashboard-list-color-chip {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dashboard-list-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  border: 1px solid var(--black-40);
  border-radius: 8px;
  background-color: white;
  padding: 0 20px;
}

.dashboard-list-item__title {
  font-weight: 700;
  margin-left: 16px;
}

.dashboard-list-item__image {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
