.dashboard-list-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 8px;
  gap: 0 12px;
  padding: 0 20px;
  background-color: var(--black-30);
  overflow: hidden;
}

.dashboard-list-item::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--black-40);
}

.dashboard-list-item__title {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  width: 60%;
  height: 20px;
  background-color: var(--black-40);
  margin-left: 16px;
}

.dashboard-list-item__image {
  overflow: hidden;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--black-40);
  border-radius: 4px;
}

@media (max-width: 767px) {
  .dashboard-list-item {
    height: 58px;
  }
}
