.main {
  max-width: 1200px;
  width: calc(100% - 80px);
  margin: 184px auto 0 auto;
}

.section {
  border-radius: 8px;
  background-color: var(--black-90);
  position: relative;
  height: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.section > div {
  flex: 1;
}

.section + .section {
  margin: 90px 0;
}

.section:nth-of-type(even) {
  flex-direction: row-reverse;
}

.section-info {
  padding: 123px 0 0 60px;
}

.section-info span {
  font-size: 22px;
  font-weight: 500;
  color: var(--black-50);
}

.section-info h3 {
  margin-top: 100px;
  font-size: 48px;
}

.first-image {
  position: absolute;
  right: 0;
  bottom: 0;
}

.second-image {
  position: absolute;
  left: 108px;
  bottom: 0;
}

.setting {
  display: flex;
  flex-direction: column;
}

.setting h4 {
  font-size: 28px;
  font-weight: 700;
}

.setting-list {
  display: flex;
  margin-top: 36px;
  gap: 33px;
}

.setting-list-item {
  flex: 1;
  background-color: var(--black-90);
}

.setting-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 260px;
  background-color: var(--black-70);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.setting-image {
  width: 300px;
  height: auto;
  border-radius: 4px;
}

.setting-text {
  padding: 32px;
}

.setting-text h5 {
  font-size: 18px;
}

.setting-text p {
  margin-top: 18px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .section {
    flex-direction: column;
    height: 900px;
    padding: 60px;
    width: 100%;
  }

  .section + .section {
    margin: 60px 0;
  }

  .section:nth-of-type(even) {
    flex-direction: row;
  }

  .section-info {
    padding: 0;
  }

  .second-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  .setting {
    align-items: center;
  }

  .setting-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }

  .setting-list-item {
    width: 378px;
  }
}

@media (max-width: 767px) {
  .main {
    width: calc(100% - 40px);
  }

  .section {
    height: calc(300px + 66.133vw);
  }

  .section:nth-of-type(even) {
    flex-direction: column;
  }

  .section-info {
    text-align: center;
  }

  .section-info span {
    font-size: 18px;
  }

  .section-info h3 {
    margin-top: 60px;
    font-size: 36px;
  }

  .first-image {
    width: 78.933vw;
    height: 66.133vw;
  }

  .second-image {
    width: 57.867vw;
    height: 66.667vw;
  }

  .setting {
    margin-top: 90px;
  }

  .setting-list,
  .setting-list-item {
    width: 100%;
  }
}
