.dropdown-root {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
  position: absolute;
  top: calc(100% + 20px);
  background-color: white;
  border: 1px solid var(--black-40);
  border-radius: 6px;
  padding: 6px;
  z-index: 200;
  width: max-content;
}

.dropdown-menu-inherit {
  width: 100%;
}

.dropdown-layout-medium .dropdown-menu {
  width: 100%;
}

.dropdown-menu__item {
  padding: 4px 10px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-menu__item:hover {
  color: var(--main-20);
  background-color: var(--main-10);
}

.kebab {
  position: relative;
  width: 28px;
  height: 28px;
}

/*=============================================
=                    Status                   =
=============================================*/
.status {
  width: 217px;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border: 1px solid var(--black-40);
  border-radius: 6px;
  background-color: white;
  color: var(--black-50);
  text-align: start;
  margin-top: 10px;
  position: relative;
}

.status-active {
  border: 1px solid var(--main-20);
}

.status-icon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  transition: 0.3s;
}

.status-active .status-icon {
  transform: translateY(-50%) rotate(180deg);
}

@media (max-width: 767px) {
  .dropdown-menu {
    right: 0;
  }

  .status {
    width: 100%;
  }
}
