.column {
  width: 354px;
  padding: 20px;
  border-right: 1px solid var(--black-40);
  min-height: 100vh;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 12px;
}

.column-header-info__title {
  width: 100px;
  position: relative;
  padding-left: 16px;
  height: 21px;
  background-color: var(--black-40);
  border-radius: 4px;
}

.column-edit-button-layout {
  width: 24px;
  height: 24px;
  background-color: var(--black-40);
  border-radius: 4px;
}

.column-header-info__counter {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: var(--black-40);
}

.column-add-button-layout {
  margin: 24px 0 16px;
  height: 40px;
  background-color: var(--black-40);
  border-radius: 6px;
}

.column-task-card-layout {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}
