.layout {
  display: flex;
  align-items: center;
  gap: 0 6px;
  padding: 20px 0 24px 0;
  background: transparent;
}

.image-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  transform: scale(-1);
}

.text {
  font-weight: 16px;
}
