.hashtag-list-item {
  position: relative;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.delete-hashtag {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 0;
  top: 0;
  border-radius: 50%;
  background-color: var(--black-30);
  transform: translate(50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
