.layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 32px;
}

.dropdown {
  width: auto !important;
  margin: 0 !important;
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .dropdown,
  .dropdown button {
    width: 100% !important;
  }
}
