.description {
  margin: 16px 0;
  font-size: 14px;
  line-height: 24px;
  resize: none;
  width: 100%;
  height: 100px;
}

.description:disabled {
  background-color: #fff;
}

.image-wrapper {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
