.comment-list__item {
  display: flex;
  gap: 0 10px;
  flex-shrink: 0;
}

.comment-list__item + .comment-list__item {
  margin-top: 20px;
}

.comment-item__contents {
  width: 100%;
}

.comment-item__info {
  display: flex;
  align-items: center;
  gap: 0 8px;
  padding-top: 9px;
}

.comment-item__nickname {
  font-size: 14px;
  font-weight: 600;
}

.comment-item__date {
  font-size: 12px;
  color: var(--black-50);
}

.comment-item__comment {
  font-size: 14px;
  margin: 6px 0 12px 0;
}

.comment-item__utils {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.comment-item__utils button {
  font-size: 12px;
  color: var(--black-50);
  text-decoration: underline;
}
