.empty-comment {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--black-40);
  border-radius: 6px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px 0;
}

.empty-comment-icon {
  position: relative;
  width: 34px;
  height: 34px;
}

.empty-comment-description {
  font-size: 14px;
  color: var(--black-50);
  text-align: center;
}
