.layout {
  display: flex;
  align-items: flex-start;
  gap: 0 24px;
}

.contents-wrapper {
  width: 450px;
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column-reverse;
  }

  .contents-wrapper {
    width: 100%;
  }
}
