.profile-image {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--black-40);
  border: 2px solid #fff;
}

.profile-image + .profile-image {
  margin-left: -8px;
}

.small {
  width: 24px;
  height: 24px;
}

.medium {
  width: 34px;
  height: 34px;
}
