.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border: 1px solid var(--black-40);
  border-radius: 8px;
  gap: 0 12px;
  background-color: white;
}

.button span {
  font-weight: 700;
}
