.sidebar-list-item {
  position: relative;
  overflow: hidden;
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  border-radius: 4px;
  background-color: var(--black-30);
  height: 45px;
}

.color-chip {
  position: relative;
  overflow: hidden;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--black-40);
}

.title {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 20px;
  background-color: var(--black-40);
  border-radius: 4px;
}

@media (max-width: 767px) {
  .title {
    display: none;
  }

  .sidebar-list-item {
    height: 40px;
    justify-content: center;
  }
}
