.comment-form-area {
  margin-top: 24px;
}

.comment-form-area span {
  font-weight: 500;
}

.comment-form {
  position: relative;
}

.comment-button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
