.title {
  font-size: 24px;
  font-weight: 700;
}

.password-form {
  margin-top: 32px;
}

.password-form__submit {
  margin-top: 24px;
  width: 100%;
}

.password-form__submit button {
  margin-left: auto;
}
