.color-chip-item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.color-chiop-item__button {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
