.new-dashboard-title {
  margin-bottom: 37px;
  font-size: 20px;
  font-weight: 700;
}

.color-chips {
  position: absolute;
  right: 28px;
  top: 32px;
}

.new-dashboard-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}
