:root {
  --black-10: #ffffff;
  --black-20: #fafafa;
  --black-30: #eeeeee;
  --black-40: #d9d9d9;
  --black-50: #9fa6b2;
  --black-60: #787486;
  --black-70: #4b4b4b;
  --black-80: #333236;
  --black-90: #171717;
  --black-100: #000000;

  --red: #d6173a;

  --white: #fff;

  --main-10: #f1effd;
  --main-20: #5534da;
}
