.dashboard-inner-layout {
  width: 1022px;
}

.dropdown-layout-medium {
  width: 237px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}
