.dashboard-inner-layout {
  width: 1022px;
  padding: 40px 0;
}

.dropdown-layout-medium {
  width: 237px;
}

@media (max-width: 1400px) {
  .dashboard-inner-layout {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .dropdown-layout-medium {
    width: 100%;
  }
}
