.dashboard-inner-layout {
  width: 1022px;
  padding: 40px 0;
}

.dropdown-layout-medium {
  width: 237px;
}

/* .flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
} */

@media (max-width: 1400px) {
  .dashboard-inner-layout {
    width: 100%;
  }
}
