.sidebar-list-item {
  border-radius: 4px;
}

.sidebar-list-item:hover {
  background-color: var(--main-10);
}

.sidebar-list-item a {
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 12px;
}

.color-chip {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.title {
  font-size: 18px;
  font-weight: 500;
  color: var(--black-60);
}
