.layout {
  max-width: 620px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 26px 28px;
  position: relative;
  overflow: hidden;
}

.layout + .layout {
  margin-top: 12px;
}

.members {
  height: 404px;
  padding-bottom: 0;
}

.invitation {
  height: 442px;
  padding-bottom: 0;
}

@media (max-width: 1400px) {
}
